*{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    /* background-color: #f4f4f4; */
}

.main-container{
    height: 70%;
    display: flex;
    width: 100%;
    gap: 10px;
    margin-bottom: 30px;
}

#expenses{
    width: 60%;
    height: 70%;
}

label{
    display: block;
    font-weight: bold;
}

h2, h1{
    color: crimson;
}

.left-section, .right-section{
    /* flex: 1; */
    background: white;
    padding: 20px;
    border-radius: 9px;
    width: 100%;
    /* height: 50%; */
}


input{
    width: 100%;
    padding: 8px;
    margin: 15px 0;
    border: 1px solid #d89e9e;
    border-radius: 10px;
}

button{
    background: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background: #0056b3;
}

.expense-list, .salary-steps{
    margin-top: 15px;
}

.list-item{
    margin-bottom:8px;
    padding: 8px;
    background: #f9f9f9;
    border-left: 3px solid #007bff;
    border-radius: 4px;
}

.total{
    font-weight: bold;
    color: #dc3545;
    border-left-color: #dc3545;
}

.remaining{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #28a745;
    margin-top: 15px;
    padding: 10px;
    background: #d4edda;
    border-radius: 4px;
}